body{
    background-image: url(../images/inputBg.jpg);
    background-color: rgba(19, 19, 19, 0.589);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
a{
    text-decoration: none;
}
.sign_in{
    margin-top: 190px;
}

